*{
    margin: 0px;
    padding: 0px;
}
body{
    background: #ffffff;
    text-align: center;
}
header{
    padding: 10px;
    background-color: #333745; 
    text-align: left;
}
.classificações{
    display: flex;
    padding: 15px;
    justify-content: center;
}
.container{
    display: none;
}
.container1{
    display: none;
}
.container2{
    display: none;
}
.container3{
    display: none;
}
.container4{
    display: none;
}
.cadastro-produto{
    text-decoration: none;
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    padding: 10px;
    color: black;
    background-color: #7e84e6;
    border-bottom: 5px solid #6b71ddc2;
    font-weight: bold;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cadastro-produto:hover{
    text-decoration: none;
    text-align: center;
    margin-bottom: 35px;
    font-size: 40px;
    padding: 10px;
    color: black;
    background-color: #9498eb;
    border-bottom: 5px solid #6b71ddc2;
    font-weight: bold;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.categoria{
    text-decoration: none;
    text-align: center;
    margin-bottom: 25px;
    font-size: 20px;
    padding: 10px;
    color: #ffffff;
    background-color: #e5446d;
    border-bottom: 5px solid #e5446c8f;
    font-weight: bold;
    border-radius: 10px;
    display: block;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.categoria:hover{
    text-decoration: none;
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    padding: 10px;
    color: #ffffff;
    background-color: #f86187;
    border-bottom: 5px solid #e5446c8f;
    font-weight: bold;
    border-radius: 10px;
    display: block;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn{
    text-decoration: none;
    width: 150px;
    text-align: center;
    margin-bottom: 5px;
    font-size: 20px;
    padding: 5px;
    color: black;
    background-color: #60dbf3;
    border-bottom: 5px solid #48c4dd9f;
    font-weight: bold;
    border-radius: 10px;
    display:block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn:hover{
    text-decoration: none;
    width: 150px;
    text-align: center;
    margin-bottom: 5px;
    font-size: 20px;
    padding: 5px;
    color: black;
    background-color: #90e7f8;
    border-bottom: 5px solid #48c4dd9f;
    font-weight: bold;
    border-radius: 10px;
    display:block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
form{
    background-color: rgb(217, 188, 240);;
    text-align: center;
    padding: 10px;
    max-width: 400px;
    border: 1px solid black;
    margin: auto;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
}
p{
    font-size: px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}
.form-cad{
    background-color: rgba(209, 195, 226, 0.349);
    text-align: center;
    padding: 10px;
    max-width: 900px;
    border: 1px solid black;
    margin: auto;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  footer{
    background-color: #434449;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: #ffffff;
  }